body {
  min-height: 800px;
  /* background-image: url('../static/stock-photo-288388299.jpg'); */
  background-image: url('../static/ORG_DSC01011.JPG');
  background-size: cover;
  background-color: cornflowerblue;
}

.content {
  min-height: 850px;
}
.footer {
  line-height: 1.5;
}
